    <div class="secondary-page">
      <div>
        <h1 class="page-header">STAFF</h1>
      </div>

      <div class="about-image">
        <img src="./img/messier_small.png" alt="messier-about">
          <h1>Paul Messier</h1>
            <p>Paul Messier is an independent conservator of photographs working in
              Boston Massachusetts, USA. Founded in 1994, his studio provides conservation
              services for private and institutional clients throughout the world. The heart
              of this practice is unique knowledge and ongoing research into photographic papers.
              The Messier Reference Collection of Photographic Papers plays a vital role in this work.
              Continuing with the private practice, Paul was appointed head of the newly formed
              Lens Media Lab at Yale University in 2015. He received a Masters of Arts and certificate
              of advanced study in the conservation of works on paper and photographs from the
              art conservation program at the State University of New York College at Buffalo (SUNY).</p>
      </div>

      <div class="about-image">
        <img src="./img/azoti_small.png" alt="azoti-about">
          <h1>Mariah Azoti</h1>
            <p>Mariah Azoti is the Registrar, Photographer and Studio Manager at the Paul Messier studio.
              She earned a BFA in Photography and Art History from Massachusetts College of Art and Design.</p>
      </div>
    </div>
