    <div class="secondary-page">
      <div>
        <h1 class="page-header">ABOUT</h1>
      </div>

      <div class="about-image">
        <img src="./img/azoti_small.png" alt="azoti-about">
          <h1>Mariah Azoti</h1>
            <p>Mariah Azoti earned her BFA in Photography and Art History from Massachusetts College of Art and Design in 2012.
              In 2016, she completed the American Society of Appraisers, Personal Property education requirements,
              and 15-Hour Uniform Standards of Professional Appraisal Practice course. Her speciality is 20th
              century and contemporary photography. She has spent the past three years working as the business manager
              of Paul Messier LLC, and oversees registration, photography, and technical analysis. In 2017, Azoti will begin
              her Masters degree in Art Buisness at the Sotheby's Institute of Art in London, UK.</p>
      </div>
    </div>
