  <div class="secondary-page">
    <div>
      <h1 class="page-header">CONTACT</h1>
    </div>

    <div class="container">
      <ul>
        <li><a href="mailto:info@traceart.com" target="_self" data-content="info@traceart.com"
            data-type="mail">info@traceart.com</a>
        </li>
        <li>Tel: 617.782.7110</li>
        <li>Fax: 617-782-7414</li>
      </ul>
    </div>
  </div>
