  <div class="secondary-page">
    <div>
      <h1 class="page-header">CONTACT</h1>
    </div>

    <div class="container">
      <ul>
        <li><a href="mailto:mariah.azoti@gmail.com" target="_self" data-content="mariah.azoti@gmail.com"
            data-type="mail">Email</a>
        </li>
      </ul>
    </div>
  </div>
